<!DOCTYPE html>
<html ng-app="appLab">
<head>
    <base href="/" />
    <meta charset="UTF-8"/>
    <title>Pagina do Lab03</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>

    <script src="./js/app.js"></script>
    <script src="./js/controller/tarefa-controller.js"></script>
    <script src="./js/controller/buscar-tarefa-controller.js"></script>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="./css/componentes.css" />


    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>
<body class="jumbotron">

<div id="main">
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="tarefaController">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>LAB-03</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="/tarefas">Tarefa<span class="sr-only">(current)</span></a></li>-->
                    <!--<li><a href="/tarefas">Tarefas</a></li>-->
                    <!--<li><a href="/listas">Listas</a></li>-->
                    <!--<li><a href="/editar">Editar Tarefa</a></li>-->
                    <!--<li><a href="/editarSubTarefa">Editar SubTarefa</a></li>-->
                    <!--<li><a href="/buscarTarefa">Buscar Tarefas</a></li>-->

                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Total de tarefas a cumprir: {{tarefasNaoFeitas.length}}</a></li>
                    <li><a href="/contato">Contato: antonio.pedro.neto@ccc.ufcg.edu.br</a></li>
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">Action</a></li>-->
                            <!--<li><a href="#">Another action</a></li>-->
                            <!--<li><a href="#">Something else here</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container">-->
    <!--<a href="/tarefas">Tarefas</a>-->
    <!--<a href="/listas">Listas</a>-->
    <!--<a href="/editar">EditarTarefa</a>-->
    <!--<a href="/buscarTarefa">Buscar Tarefa</a>-->
    <!--</div>-->
    <!--</nav>-->

    <!--<ul id="menu">-->
    <!--<li><a href="/tarefas">Tarefas</a></li>-->
    <!--<li><a href="#details">Section 2</a></li>-->
    <!--<li><a href="#FAQ">Section 3</a></li>-->
    <!--</ul>-->
    <!--Olá eu so um template-->


    <div ng-view="ng-view">

        TESTE

    </div>

</div>
<div id="mySidenav" class="sidenav">
    <!--<a href="javascript:void(0)" class="closebtn" >&times;</a>-->

    <a href="/tarefas" onclick="openNav()">Tarefas</a>
    <a href="/listas" onclick="openNav()">Listas</a>
    <a href="/subtarefas" onclick="openNav()">SubTarefas</a>
    <a href="/editar" onclick="openNav()">Editar Tarefa</a>
    <a href="/editarSubTarefa" onclick="openNav()">Editar SubTarefa</a>
    <a href="/buscarTarefa" onclick="openNav()">Buscar Tarefas</a>


</div>


<script>

    var abriu = false;


    var corAntes;

    function openNav() {


        if (abriu == false) {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            abriu = true;

        } else {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
            abriu = false;
        }

    }
</script>


</body>
</html>